{% extends 'base.html' %}
{% block title %}Delete Photo{% endblock %}
{% block content %}

    {% if user.is_authenticated %}

        <h1>Delete Photo</h1>
        <br/><br/>
        <img style="max-width: 25%; max-height: 25%;"
            src="{{ photo.image.url }}" alt="Card image cap">
            <br><br><h6>Delete {{ photo.image.name }}?</h6>

        <br/>
        <div class="mb-3">
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary">Delete</button>
            </form>
        </div>
        <div>
            <a href="{% url 'gallery' %}"class="btn btn-dark my-3" role="button">Cancel</a>
        </div>
    {% else %}
        <a class="nav-link" href="{% url 'login' %}"style="color:blue">Login</a>

    {% endif %}
{% endblock %}