{% extends 'base.html' %}
{% block content %}

    {% if category_posts %}

        <h1>{{ cats.title }}</h1>

        <ul>
        {% for post in category_posts %}

        <style>
            a:link {
            color: default;
            background-color: transparent;
            text-decoration: none;
            }
            a:hover {
            color: black;
            background-color: whitesmoke;
            text-decoration: underline;
            }

            a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
            }
            </style>
            <li><a href="{% url 'article-detail' post.pk %}">
                {{ post.title }}</a> 
                - {{ post.author.first_name }}
                {% if user.is_authenticated %}
                - <small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
                - <small><a href="{% url 'delete_post' post.pk %}" style="color:red">Delete</a> -
                {% endif %}
                {{ post.post_date}} </small>
                <br/>
            {{ post.body|slice:":200"|safe }}</li>
        {% endfor %}
        </ul>
        {% else %}
            <p>page does not exist</p>
        {% endif %}

{% endblock %}