{% extends 'base.html' %}
{% block title %}Photo Gallery{% endblock %}

{% block content %}

    <h1>Photo Gallery</h1>

    <body>
        <div class="col-md-9">
            <div class="row">
                {% for photo in photos %}
                <div class="col-md-4">
                    <div class="card my-2">
                        {% if item.video_file %}
                            <video width="320" height="240" controls>
                                <source src="{{ item.video_file.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% elif item.photo_file %}
                            <img class="image-thumbnail" src="{{photo.image.url}}">
                        {% endif %}
                        <div class="card-body">
                            <small> Category: Photo</small>
                        </div>
                        <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        {% if user.is_authenticated %}
                            <small><a href="{% url 'delete_photo' photo.pk %}">Delete</a></small>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                    <small>Gallery is Empty</small>
                {% endfor %}
            </div>
        </div>
    </body>

{% endblock %}