{% extends 'base.html' %}
{% block title %}Edit Blog Post{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id or user.id == 1 %} 

            <h1>Delete Post</h1>
            <br/><br/>
            <h3>Delete: {{ post.title  }}</h3>

            <br/>
            <div class="mb-3">
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary">Delete Post</button>
                </form>
            </div>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}"style="color:blue">Login</a>

        {% endif %}
    {% else %}
        <a class="nav-link" href="{% url 'login' %}"style="color:blue">Login</a>
    {% endif %}
{% endblock %}